body {
    font-family: 'Poppins', sans-serif;
    background: #111;
    margin: 0;
    padding: 0;
    color: #fff;
}

.topbar {
    background: #000;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ffcc00;
}

.topbar .title {
    font-size: 24px;
    font-weight: bold;
    color: #ffcc00;
}

.logout {
    color: #fff;
    background: #ff4444;
    padding: 8px 18px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

.page {
    width: 95%;
    margin: 30px auto;
}

.card {
    background: #1a1a1a;
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 35px;
    border-left: 5px solid #ffcc00;
    box-shadow: 0 0 15px rgba(255, 204, 0, 0.1);
}

.card h2 {
    margin-top: 0;
    margin-bottom: 15px;
    color: #ffcc00;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.data-table thead {
    background: #333;
}

.data-table th, .data-table td {
    padding: 12px;
    border-bottom: 1px solid #444;
	text-align: center;
}

.data-table tr:hover {
    background: #222;
}

.edit {
    color: #4da3ff;
    margin-right: 10px;
}

.delete {
    color: #ff4d4d;
}

.btn {
    display: inline-block;
    background: #ffcc00;
    color: #000;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
}

.status {
    padding: 5px 10px;
    border-radius: 6px;
    font-weight: bold;
}

.status.ORDERED { background: #555; }
.status.PACKED { background: #007bff; }
.status.SHIPPED { background: #ff8800; }
.status.DELIVERED { background: #33cc33; }

.status-select {
    padding: 5px;
    border-radius: 5px;
}

.update-btn {
    background: #ffca28;
    border: none;
    color: #000;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
}
