@charset "ISO-8859-1";
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}
.hero-slider {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    margin-top: -10px;
}
.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background-size: cover;
    background-position: center;

    opacity: 0;
    transition: opacity 1.4s ease-in-out;
}
.slide::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background: rgba(0, 0, 0, 0.45); 
    z-index: 1;
}
.active-slide {
    opacity: 1 !important;
}
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    z-index: 10;
}

.hero-text h1 {
    font-size: 4rem;
    font-weight: 800;
    margin: 0;
    color: #ffffff !important;
}

.hero-text h3 {
    font-size: 1.6rem;
    margin-top: 15px;
    font-weight: 300;
    color: #ffffff !important;
}
.product-title {
    margin-top: 50px;
    text-align: center;
    font-size: 32px;
    color: #000;
    font-weight: bold;
}

.product-box {
    width: 90%;
    margin: 30px auto 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.product-card {
    width: 220px;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    text-align: center;
    padding-bottom: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.25);
    transition: 0.3s;
}

.product-card:hover {
    transform: translateY(-6px);
}

.product-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.product-card h4 {
    margin: 10px 0 5px;
}

.product-card p {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #444;
}

.view-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background: #ffca28;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
}
