<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/Navigation.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>

    <nav th:fragment="navbar()" class="nav-bar">
        <div class="nav-container">

            <!-- LEFT SIDE LOGO -->
            <div class="nav-left">
                <img th:src="@{/Images/muttu.png}" class="logo" alt="Logo">
            </div>

            <!-- CENTER MENU -->
            <ul class="nav-menu">
                <li><a href="/home">Home</a></li>
                <li><a href="/products">Foods</a></li>
                <li><a href="/location">Visit Us</a></li>
                <li><a href="/about">About</a></li>

                <li th:if="${session.loggedUser != null}">
                    <a href="/orders">Your Orders</a>
                </li>
            </ul>

            <!-- RIGHT SIDE -->
            <div class="nav-right">
                <a th:if="${session.loggedUser == null}" href="/login" class="login-btn">Login</a>
                <a th:if="${session.loggedUser != null}" href="/logout" class="login-btn logout-btn">Logout</a>
            </div>

        </div>
    </nav>

</body>

</html>
